In [88]:
# Se imnportan las librerías que se van a usar
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/run.csv")

In [4]:
df

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa
...,...,...,...,...,...,...,...,...,...
87,88,92,94,no,si,H,69.0,150,moderada
88,89,94,92,no,si,M,62.0,131,moderada
89,90,96,140,si,no,M,61.0,140,moderada
90,91,96,116,si,no,M,68.0,116,moderada
91,92,100,115,si,si,M,63.0,121,moderada

In [7]:
df.shape
# Podemos saber tanto con shape (dimensiones del dataframe) que tiene 92 estudiantes

(92, 9)

In [17]:
df.loc[df["genero"]=="H"].shape
# Hay 57 estudiantes que son hombres

(57, 9)

In [91]:
df.loc[df["genero"]=="M"].shape
# Hay 35 estudiantes que son mujeres

(35, 10)

In [85]:
def percentage_difference(x):
    x["variacion"] = ((x["pulso.despues"]-x["pulso.antes"])/x["pulso.antes"])*100
    return x

df2 = df.groupby("hace.deporte").apply(percentage_difference)

df2.groupby("hace.deporte")[df3.columns[-1]].mean()

# Hay una diferencia alrededor de un 26% de aumento de pulsaciones tras realizar el ejercicio

hace.deporte
no     0.209479
si    26.215407
Name: variacion, dtype: float64

In [86]:
df3 = df.groupby("genero").apply(percentage_difference)

df3.groupby("genero")[df3.columns[-1]].mean()

# Hay una diferencia alrededor del 5% de aumento de pulsaciones mayor para las mujeres que para los hombres

genero
H     8.219198
M    13.171009
Name: variacion, dtype: float64

In [83]:
df3 = df.groupby("fuma").apply(percentage_difference)

df3.groupby("fuma")[df3.columns[-1]].mean()

# Hay una diferencia alrededor del 1.4% de aumento de pulsaciones mayor para los no fumadores

fuma
no    10.528515
si     9.130521
Name: variacion, dtype: float64

In [87]:
df3 = df.groupby("tipo.actividad").apply(percentage_difference)

df3.groupby("tipo.actividad")[df3.columns[-1]].mean()

# Podemos ver que la mayor diferencia tras hacer ejercicio es para los que hacen ejercicio moderado, de alrededor del 14%

tipo.actividad
intensa      1.347475
moderada    14.015695
nula        12.500000
suave        3.747241
Name: variacion, dtype: float64